<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS Project</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <form id="form1">
        <input type="text" id="address">
        <button>Search For Weather</button>
    </form>
    <p class="headline" id="heading">Welcome to our website. To know your country's weather, longitude and latitude,
        please enter the name of your country</p>
    <div class="parent">
        <p id="location"></p>
        <p id="latitude"></p>
        <p id="longitude"></p>
        <p id="forecast"></p>
        <p id="error"></p>
    </div>
    <script src="js/script.js"></script>
</body>

</html>